<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Add Tweet:<br></br>
    <div><div>
    <form method="post" action="/add_tweet">
        <div>
        <label>Title</label>
    </div>
        <input type="text" name="title" required>
    </div>
    <div>
        <label>Text</label>
        <div>
            <input type="text" name="text" maxlength="280">
        </div>
    <input type="submit" name="Submit">
    </div>
    </div>
</body>
</html>